
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #f9f9f9;
  color: #333;
}
.logo{
    font-size: 40px;
    margin-left: 5rem; 
}

.logo-icon {
  width: 40px;
  height: 50px;
  animation: float 2s ease-in-out infinite;
}
span{
    color:rgb(199, 133, 48)
}
a {
  text-decoration: none;
  color: inherit;
  
}
.navbar {
  background: #0f172a;
  color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-links li{
    align-items: center;
                background-color: transparent;
                border: 1px solid #7478ad;
                border-radius: 100px;
                color: #080b2d;
                cursor: pointer;
                display: flex;
                font-size: 1.2em;
                font-weight: 700;
                justify-content: center;
                padding: 16px 32px;
                transition: all 0.3s ease;
                 background-color: #a3b38b;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 0.7rem;
 
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background:fixed;
  color: #333;
  min-width: 100px;
  display: none;
 
  z-index: 1000;
  border-radius: 4px;
}

.dropdown-menu li {
  padding: 0.75rem 1rem;
}

.dropdown-menu li a {
  color: #333;
  display: block;
  font-weight: 100;
  font-size: 15px;
}

.dropdown:hover .dropdown-menu {
  display: block;
}


.nav-links li {
  position: relative;
}

.nav-links li a {
  color: rgb(255, 255, 255);
  font-weight: 500;
 
}
.nav-links li :hover{
  
                color: #c763a1;
                transition: all 0.3s ease;
   

}
.btn-signup {
  background:#6c8d64 ;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}
#j{
    color: rgb(116, 216, 216);
}
#k{
    font-weight: 600;
}
.hero {
  background: linear-gradient(to right, #1e3a8a, #3b82f6);
  color: white;
  text-align: center;
  padding: 5rem 2rem;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.btn-main {
  background: white;
  color: #1e3a8a;
  padding: 0.75rem 1.5rem;
  font-weight: bold;
  border-radius: 4px;
}
.btn-main:hover{
    background-color: aquamarine;
}
.features {
  padding: 3rem 2rem;
  text-align: center;
  background: #fff;
}

.features h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.feature-cards {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.card {
  background: #a7b2bd;
  padding: 1.5rem;
  border-radius: 8px;
}
.card:hover{
    color: rgb(235, 152, 103);
    background-color: rgb(5, 94, 105);
}
@media (min-width: 768px) {
  .feature-cards {
    flex-direction: row;
    justify-content: space-around;
  }
}


footer {
  background: #0f172a;
  color: white;
  text-align: center;
  padding: 1rem;
}
